
main {
    padding-top: 50px!important;
}


main *,main *::after,main *::before {
    box-sizing: inherit;
}

/*main article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {*/
    /*display: block;*/
/*}*/

main h1 {
    font-family: "MetSerif", "Georgia", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.166;
}

main a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: #000006;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

main h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

main h2 {
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;
}

main input,main select,main textarea {
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 19px;*/
    font-weight: 400;
    line-height: 1.6;
    font-size: 16px;
}

main input,main textarea,main button {
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}
main input[type=email],main  input[type=number],main  input[type=password],main  input[type=text],main  textarea {
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 600;*/
    font-style: normal;
    display: block;
    width: 100%;
    padding: 7px 10px 6px;
    background: #fff;
    border: 1px solid #dfe0e0;
    -webkit-appearance: none;
    margin-bottom: 10px;
}

main .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

@media only screen and (min-width: 500px) {
    main .wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }

}

main .main-wrapper {
    margin-bottom: 40px;
}

main .main-row {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

@media screen and (min-width: 500px) {
    main .main-row {
        grid-column-gap: 20px;
    }
}

main .main-row > * {
    grid-column-start: span 12;
    grid-column-end: auto;
}

main .content-full {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
}

@media screen and (min-width: 500px) {
    main .content-full {
        grid-column-gap: 20px;
    }
}

main .content-full > * {
    grid-column-start: span 12;
    grid-column-end: auto;
}

main .rich-text {
    box-sizing: border-box;
    width: 100%;
}

main .z-container {
    margin-bottom: 20px;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    main .z-container {
        margin-bottom: 40px;
    }
}

main .filter__container {
    border-bottom: 1px solid #dfe0e0;
    /*padding-top: 40px;*/
    padding-top: 2.5rem;
    width: 100%;
}

@media only screen and (min-width: 900px) {
    main .filter__container {
        padding-top: 0;
    }
}

main .filter__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

main .filter__label {
    color: #959798;
    display: inline-block;
    font-size: 24px;
    padding-bottom: 0;
}

main .filter__label:hover {
    cursor: pointer;
}

main .filter__checkedbox .filter__label {
    color: #000006;
}

main .filter__container .filter :after {
    background-color: #dfe0e0;
    content: "";
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
}

@media only screen and (min-width: 500px) {
    main .page-title--wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

main .page-title--wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    overflow: hidden;
}

main .page-title--search {
    margin-bottom: 0;
    /*padding: 20px 0;*/
    /*padding: 1.25rem 0;*/
    /*font-size: 24px;*/
    /*font-size: 1.5rem;*/
}

@media only screen and (min-width: 900px) {
    main  .page-title--search {
        /*font-size: 36px;*/
        font-size: 2.25rem;
    }
}

@media only screen and (min-width: 500px) {
    main .page-title--search {
        /*padding: 40px 0;*/
        padding: 2.5rem 0;
    }
}

main .page-title__input {
    clear: both;
    margin-bottom: 0;
    position: relative;
}

@media only screen and (min-width: 900px) {
    main .page-title__input {
        margin-bottom: 10px;
    }
}

main .filter {
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0;
    position: relative;
}

main .filter input[type="radio"] {
    display: none;
}

main .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

main .filter__input-wrapper {
    border: 1px solid #dfe0e0;
    border-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    /*-ms-flex-positive: 1;*/
    flex-grow: 1;
}

main .filter__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    /*height: 60px;*/
    height: 3.75rem;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    main  .filter__input input {
        /*font-size: 24px;*/
        font-size: 1.5rem;
    }
}

main button,main input[type="button"], main input[type="reset"],main input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

main .filter__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

@media only screen and (min-width: 900px) {
    main .filter__submit {
        /*width: 60px;*/
        width: 3.75rem;
        /*height: 60px;*/
        height: 3.75rem;
    }
}

main .filter__input button.filter__submit {
    background: #000006;
    border: none;
}



main .filter__input input {
    border: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*font-size: 19px;*/
    font-size: 1.1875rem;
    margin-bottom: 0;
    margin-top: 0;
    /*height: 58px;*/
    height: 3.625rem;
    overflow: hidden;
    /*padding: 0 10px;*/
    padding: 0 .625rem;
}

main .filter__clear-text {
    background-color: transparent;
    border: none;
    color: #dfe0e0;
    /*height: 58px;*/
    height: 3.625rem;
    padding: 12px;
    margin-right: 10px;
}

main .filter__checkbox:checked+.filter__label {
    color: #000006;
}



main .icon {
    display: inline-block;
    /*width: 24px;*/
    width: 1.5rem;
    /*height: 24px;*/
    height: 1.5rem;
    vertical-align: middle;
    fill: currentColor;
}

main .filter__clear-text .icon {
    fill: #dfe0e0;
    transition: fill 0.3s ease-out;
}

main .filter__input .icon {
    /*display: -webkit-inline-box;*/
    /*display: -ms-inline-flexbox;*/
    display: inline-flex;
    margin: auto;
    box-sizing: border-box;
    color: #fff;
    width: 16px;
    height: 16px;
}

main .result-card__container {
    margin-bottom: 20px;
}

main .result-card {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    background-color: #fff;
    border: 1px solid #dfe0e0;
    cursor: pointer;
    padding: 20px 0;
}

@media screen and (min-width: 500px) {
    main .result-card {
        grid-column-gap: 20px;
    }

}

@media screen and (min-width: 500px) {
    main .result-card {
        padding: 40px 0;
    }

}

main .result-card__category {
    color: #dfe0e0;
    text-transform: capitalize;
}

main .result-card__image-wrapper {
    line-height: 0;
    margin: 0 20px 20px;
}

@media screen and (min-width: 500px) {
    main .result-card__image-wrapper {
        margin: 0 0 0 40px;
    }
}
main .result-card__image {
    width: 100%;
    height: 240px;
}

main a.result-card__link {
    color: #000006;
    text-decoration: none;
}

main .rich-text *:last-child {
    margin-bottom: 0;
}

main .result-card__left-container {
    grid-column: span 12;
}

@media screen and (min-width: 500px) {
    main .result-card__left-container {
        grid-column: span 6;
    }

}

@media screen and (min-width: 900px) {
    main .result-card__left-container {
        grid-column: span 3;
    }

}

main .result-card__main-content {
    grid-column: span 12;
}

@media screen and (min-width: 500px) {
    main .result-card__main-content {
        grid-column: span 5;
    }
}

@media screen and (min-width: 900px) {
    main  .result-card__main-content {
        grid-column: span 8;
    }
}

@media screen and (min-width: 500px) {
    main .result-card__content-wrapper {
        padding: 0;
    }
}

main .result-card__content-wrapper {
    padding: 0 20px;
}

main h2.alt {
    font-family: "MetSerif", "Georgia", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.11;
}

main .rich-text h2 {
    font-family: "MetSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;
}

main .rich-text h2.alt {
    font-family: "MetSerif", "Georgia", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.11;
}

main .result-card__body:last-child {
    margin-bottom: 0;
}

main .result-card__body {
    font-size: 19px;
    margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
    main  .result-card__body {
        margin-bottom: 40px;
    }

}

main .text-leave{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:6;
    overflow: hidden;
    margin-top: 40px;
}

#jump-ipt{
    margin: 0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}
main .jump-btn{
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


#search_ipt {
    font-size: 25px;
    padding: 0 20px 0 20px;
}